
<main class="relative h-screen flex flex-col justify-between">
  <span class="font-splatoon1 text-xl mx-auto py-4 md:text-3xl lg:text-5xl lg:mx-0">
    FaxMachine Editor
    <b class="text-lg md:text-2xl bg-violet-600/40 px-4 rounded-full text-purple-400">v{{appVersion}}</b>
  </span>
  <router-outlet class="hidden"></router-outlet>
  <span class="w-full flex justify-center gap-4 p-4">
    <a [href]="githubRepo" target="_blank" class="text-gray-400 underline">Github</a>
    <div class="text-gray-600">-</div>
    <a class="text-gray-400 underline">About</a>
  </span>
</main>