<main class="flex flex-col w-full items-center gap-4">
  <span class="relative flex items-center p-8 pt-10 gap-4 flex-col justify-center w-full max-w-[40rem]">
    <div class="absolute inset-0 card paper-bg paper-design product-mask -z-10 w-full h-full"></div>
    <label for="file" class="border-2 cursor-pointer border-gray-800 bg-gray-800/10 hover:bg-gray-800/20 h-30 w-full max-w-100 rounded-lg flex flex-col justify-center items-center border-dashed">
      <div class="font-splatoon2 text-gray-800 text-xl">
        Edit Splatfest
      </div>
      <input id="file" name="file" class="hidden" type="file" (change)="onFileSelected($event)" />
    </label>
    <div class="flex flex-col items-center gap-4 text-lg">
      <p class="text-gray-800 font-splatoon2">Or create from...</p>
      <button class="btn-1 font-splatoon1" (click)="onTemplateSelect()">Template</button>
    </div>
    <img class="absolute h-13 right-4 -top-5 rotate-3" src="assets/images/decos/tape-1.6b0c0681.png" alt="">
    <div class="relative z-0">
    </div>
  </span>
  <span class="card tapes-bg bg-violet-600 product-mask bg-size-[30rem] items-center w-full max-w-[40rem]">
    <div>
      <p class="font-splatoon2 text-shadow-2xs text-shadow-black text-xl">You currently have no saved backups.</p>
    </div>
  </span>
</main>

<app-modal [(modalOpen)]="hasError" [bgColor]="'bg-rose-500'">
  <header>Ooops! An error occurred!</header>
  <div class="space-y-4">
    <p>
      Unable to read this splatfest file. Make sure it is a valid splatfest file.
    </p>
    <span class="w-full flex justify-end">
      <button class="btn-2" (click)="hasError.set(false)">Gotcha!</button>
    </span>
  </div>
</app-modal>
