:root {
  @apply relative w-full h-full;
}

.enter-animation {
  animation: slide-fade ease-in-out 0.4s;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}