@use './fonts.scss';
@import "tailwindcss";

@theme {
  --font-splatoon1: splatoon1;
  --font-splatoon2: splatoon2;
}

@layer base {
  * {
    @apply text-stone-50;
  }
  
  body {
    @apply bg-[url(../public/assets/images/backgrounds/camo-black.png)] bg-[30%] bg-size-[30rem] lg:bg-size-[46rem];
  }
}

@layer components {
  .btn-1 {
    @apply z-1 w-fit px-4 py-1 relative inline-block cursor-pointer text-shadow-2xs text-shadow-black
      before:absolute before:-inset-1 before:block before:-z-1 before:-skew-y-[0.02rad]
    before:bg-pink-600 hover:before:bg-pink-500 shadow-2xs;
  }

  .paper-bg {
    @apply bg-[url(../public/assets/images/backgrounds/paper-bg.8eb46da5.jpg)] bg-cover bg-repeat-y;
  }

  .tapes-bg {
    background-image: url(../public/assets/images/backgrounds/tapes-transparent.8a4c0956.png);
    //background-size: contain;
  }

  .card {
    @apply rounded-lg p-8 md:p-12 pb-8 w-fit flex flex-col;
  }

  .product-mask {
      -webkit-mask-image: url('../public/assets/images/backgrounds/tag-card-header.0c093aac.svg');
      mask-image: url('../public/assets/images/backgrounds/tag-card-header.0c093aac.svg');
      -webkit-mask-position: top;
      mask-position: top;
      -webkit-mask-size: 2000px auto;
      mask-size: 2000px auto;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
  }
}