@use './fonts.scss';
@import "tailwindcss";

@theme {
  --font-splatoon1: splatoon1;
  --font-splatoon2: splatoon2;
}

@layer base {
  * {
    @apply text-inherit underline-offset-2;
  }
  
  button, a {
    @apply cursor-pointer;
  }
  
  body {
    @apply bg-[url(../public/assets/images/backgrounds/camo-black.png)] bg-[30%] bg-size-[30rem] lg:bg-size-[26rem] text-stone-50 bg-black;
  }
}

@layer components {
  .btn-1 {
    @apply w-fit px-4 py-1 relative inline-block cursor-pointer text-shadow-2xs text-shadow-black
      before:absolute before:-inset-1 before:block before:-z-1 before:-skew-y-[0.02rad]
    before:bg-pink-600 hover:before:bg-pink-500 before:shadow-2xs before:shadow-black/20;
  }

  .btn-2 {
    @apply font-splatoon1 bg-gradient-to-t to-violet-600 from-indigo-700 hover:to-violet-500 hover:from-indigo-600 text-lg w-fit p-8 rounded-full font-bold py-1 cursor-pointer text-shadow-2xs text-shadow-black;
  }

  .circles-bg {
     @apply bg-[url(../public/assets/images/backgrounds/circles-transparent.a777f2c3.png)] bg-cover bg-repeat-y
  }

  .paper-bg {
    @apply bg-[url(../public/assets/images/backgrounds/paper-bg.8eb46da5.jpg)] bg-cover bg-repeat-y;
  }

  .tapes-bg {
    background-image: url(../public/assets/images/backgrounds/tapes-transparent.8a4c0956.png);
    //background-size: contain;
  }

  .card {
    @apply rounded-lg pt-10 p-4 md:pt-10 md:p-8 w-fit flex flex-col;
  }

  .product-mask {
    -webkit-mask-image: url('../public/assets/images/backgrounds/tag-card-header.0c093aac.svg');
    mask-image: url('../public/assets/images/backgrounds/tag-card-header.0c093aac.svg');
    -webkit-mask-position: top;
    mask-position: top;
    -webkit-mask-size: 2000px auto;
    mask-size: 2000px auto;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  .paper-design {
    clip-path: polygon(
      /* top */
      4% 0%, 10% 0%, 20% 2%, 28% 1%, 36% 0.5%, 45% 2%, 55% 1%, 64% 2.5%, 72% 1%, 80% 2.5%, 88% 1%, 95% 3%,
      /* right */
      99% 0%, 99.3% 16%, 100% 22%, 99.4% 30%, 99.7% 38%, 100% 46%, 
      100% 54%, 99.5% 62%, 99.3% 70%, 100% 78%, 99% 86%, 99% 100%,
      /* bottom */
      95% 100%, 88% 100%, 80% 98.5%, 70% 100%, 60% 98.5%, 52% 100%, 
      44% 98.5%, 36% 100%, 28% 98.5%, 20% 100%, 12% 98.5%, 5% 100%,
      /* left */
      1% 100%, 1% 82%, 0.3% 74%, 0.9% 66%, 2% 58%, 2% 50%, 
      2% 42%, 2.4% 34%, 1.4% 26%, 2% 18%, 2% 0%
    );

    -webkit-clip-path: polygon(
      /* top */
      4% 0%, 10% 0%, 20% 2%, 28% 1%, 36% 0.5%, 45% 2%, 55% 1%, 64% 2.5%, 72% 1%, 80% 2.5%, 88% 1%, 95% 3%,
      /* right */
      99% 0%, 99.3% 16%, 100% 22%, 99.4% 30%, 99.7% 38%, 100% 46%, 
      100% 54%, 99.5% 62%, 99.3% 70%, 100% 78%, 99% 86%, 99% 100%,
      /* bottom */
      95% 100%, 88% 100%, 80% 98.5%, 70% 100%, 60% 98.5%, 52% 100%, 
      44% 98.5%, 36% 100%, 28% 98.5%, 20% 100%, 12% 98.5%, 5% 100%,
      /* left */
      1% 100%, 0.7% 82%, 0.3% 74%, 0.9% 66%, 1% 58%, 1.2% 50%, 
      1.7% 42%, 1.2% 34%, 0.9% 26%, 1% 18%, 0% 0%
    );
  }
}