@use './fonts.scss';
@import "tailwindcss";

@theme {
  --font-splatoon1: splatoon1;
  --font-splatoon2: splatoon2;
}

@layer base {
  * {
    @apply text-stone-50;
  }
  
  button, a {
    @apply cursor-pointer;
  }
  
  body {
    @apply bg-[url(../public/assets/images/backgrounds/camo-black.png)] bg-[30%] bg-size-[30rem] lg:bg-size-[26rem];
  }
}

@layer components {
  .btn-1 {
    @apply w-fit px-4 py-1 relative inline-block cursor-pointer text-shadow-2xs text-shadow-black
      before:absolute before:-inset-1 before:block before:-z-1 before:-skew-y-[0.02rad]
    before:bg-pink-600 hover:before:bg-pink-500 shadow-2xs;
  }

  .btn-2 {
    @apply font-splatoon1 bg-violet-600 hover:bg-violet-500 text-lg w-fit p-8 rounded-full font-bold py-1 cursor-pointer text-shadow-2xs text-shadow-black;
  }

  .circles-bg {
     @apply bg-[url(../public/assets/images/backgrounds/circles-transparent.a777f2c3.png)] bg-cover bg-repeat-y
  }

  .paper-bg {
    @apply bg-[url(../public/assets/images/backgrounds/paper-bg.8eb46da5.jpg)] bg-cover bg-repeat-y;
  }

  .tapes-bg {
    background-image: url(../public/assets/images/backgrounds/tapes-transparent.8a4c0956.png);
    //background-size: contain;
  }

  .card {
    @apply rounded-lg pt-10 p-8 w-fit flex flex-col;
  }

  .product-mask {
      -webkit-mask-image: url('../public/assets/images/backgrounds/tag-card-header.0c093aac.svg');
      mask-image: url('../public/assets/images/backgrounds/tag-card-header.0c093aac.svg');
      -webkit-mask-position: top;
      mask-position: top;
      -webkit-mask-size: 2000px auto;
      mask-size: 2000px auto;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
  }
}